$font-family-base: 'Arial, sans-serif';
@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/all.min.css';

body {
  background-color: #f8f9fa;
}

.app-container {
  background-color: #343a40;
  color: #fff;
  padding-top: 0.5rem ;
  padding-bottom: 0.5rem;
}

.email-phone-container {
  display: flex;
  justify-content: space-between;
}

.store-header {
  margin-top: 1rem;
}

.search-container {
  display: flex;
  align-items: center;
}

.margin-left-1rem {
  margin-left: 1rem;
}

/*Navbar*/

.navbar {
  background-color: #FF6F61;
}

.nav-link {
  color: #fff;
}


/*Trajetas*/

.card-header {
  font-size: 1.25rem;
  text-align: center;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*estilos para contenedores de tarjetas */

.container.mt-5 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* formulario */
.formulario-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;

}

form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 
/*estilos para contenedores de select*/

.form-select-container {
  display: flex;
  justify-content: space-between;

}

/*Botones de compras y favoritos  */

.btn-outline-secondary-custom {
  color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary-custom:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

/* LandingPage */

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./assets/diseño/Landing.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white; 
  padding: 20px;
}

.login-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: rgba(0, 123, 255, 0.8); 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* HomePage */
.homePage{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./assets/diseño/Home1.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white; 
  margin-top: 10px;
 



}